<div class="jumbotron">
    <h1>ASP.NET Kulula Services</h1>
    <p class="lead">Project created for kulula API services </p>
    <p class="lead">Initial Commit was on end of 2018 as bootcamp project at Reverside</p>

    <div class="row">
        <h4 class="glyphicon-bold">http://localhost:4344/Account</h4>  
        <div class="col-sm-4"><h6>GET: api/Account/UserInfo</h6></div>
        <div class="col-sm-4"><h6>POST: api/Account/Logout</h6></div>
        <div class="col-sm-4"><h6>GET: api/Account/ManageInfo</h6></div>
        <div class="col-sm-4"><h6>POST: api/Account/ChangePassword</h6></div>
        <div class="col-sm-4"><h6>POST: api/Account/SetPassword</h6></div>
        <div class="col-sm-4"><h6>POST: api/Account/AddExternalLogin</h6></div>
        <div class="col-sm-4"><h6>POST: api/Account/RemoveLogin</h6></div>
        <div class="col-sm-4"><h6>POST: api/Account/Register</h6></div>
        <div class="col-sm-4"><h6>POST: api/Account/Details</h6></div>
        <div class="col-sm-4"><h6>GET: api/Account/VerifyAccount/{id}</h6></div>
        <div class="col-sm-4"><h6>POST: api/Account/RegisterExternal</h6></div>
     </div>     
    <div class="row">
        <h4 class="glyphicon-bold">http://localhost:4344/Carhire</h4>
        <div class="col-sm-4"><h6>POST: api/Carhires</h6></div>
        <div class="col-sm-4"><h6>GET: api/Carhires</h6></div>
        <div class="col-sm-4"><h6>GET: api/Carhires/Id</h6></div>
        <div class="col-sm-4"><h6>POST: api/CarModels</h6></div>
        <div class="col-sm-4"><h6>GET: api/CarModels</h6></div>
        <div class="col-sm-4"><h6>GET: api/CarModels/Id</h6></div>
    </div>
    <div class="row">
        <h4 class="glyphicon-bold">http://localhost:4344/Dashboards</h4>
        <div class="col-sm-4"><h6>GET: api/dashboards/id/discount</h6></div>
        <div class="col-sm-4"><h6>Get: api/dashboards/id/flightbook</h6></div>
        <div class="col-sm-4"><h6>GET: api/dashboards/id/carhire</h6></div>
        <div class="col-sm-4"><h6>POST: api/Account/ChangePassword</h6></div>
        <div class="col-sm-4"><h6>POST: api/Account/SetPassword</h6></div>
        <div class="col-sm-4"><h6>Put: api/Account/Details/modify/{id}</h6></div>
        <div class="col-sm-4"><h6>Get: api/Account/Details/get/{id}</h6></div>
    </div>
    <div class="row">
        <h4 class="glyphicon-bold">http://localhost:4344/FlightBooks</h4>
        <div class="col-sm-4"><h6>POST: api/FlightBooks</h6></div>
        <div class="col-sm-4"><h6>Get: api/FlightBooks</h6></div>
        <div class="col-sm-4"><h6>GET: api/seatBook/Id</h6></div>
        <div class="col-sm-4"><h6>GET: api/FlightBook/Id</h6></div>
        <div class="col-sm-4"><h6>POST: api/Aircraft</h6></div>
        <div class="col-sm-4"><h6>POST: api/SeatBookings</h6></div>
        <div class="col-sm-4"><h6>GET: api/SeatBookings/Id</h6></div>
    </div>
    <div class="row">
        <h4 class="glyphicon-bold">http://localhost:4344/Payments</h4>
        <div class="col-sm-4"><h6>GET: api/Payments</h6></div>
        <div class="col-sm-4"><h6>POST: api/Payments</h6></div>
        <div class="col-sm-4"><h6>GET: api/MemberDiscounts/Id</h6></div>
        <div class="col-sm-4"><h6>GET: api/payments/receipt/Id</h6></div>
    </div>
</div>

